__pycache__
/Example_Data/Job1610358/Adult_Pancreas_Gel_Elite_60_f02_dta_DtaRefineryLog.txt
/Example_Data/Job1610358/Adult_Pancreas_Gel_Elite_60_f02_FIXED_dta.txt
/Example_Data/Job1610358/adult_pancreas_gel_elite_60_f02_HIST.png
/Example_Data/Job1610358/adult_pancreas_gel_elite_60_f02_HIST.txt
/Example_Data/Job1610358/adult_pancreas_gel_elite_60_f02_mz.png
/Example_Data/Job1610358/adult_pancreas_gel_elite_60_f02_scanNum.png
/Example_Data/MouseVoxel/test_dta.txt
/Example_Data/MouseVoxel/test_dta_DtaRefineryLog.txt
/Example_Data/MouseVoxel/test_dta_SETTINGS.xml
/Example_Data/MouseVoxel/test_FIXED_dta.txt
/Example_Data/MouseVoxel/test_HIST.png
/Example_Data/MouseVoxel/test_HIST.txt
/Example_Data/MouseVoxel/test_logTrappedIonInt.png
/Example_Data/MouseVoxel/test_mz.png
/Example_Data/MouseVoxel/test_scanNum.png
/Example_Data/MouseVoxel/test_trappedIonsTIC.png
